@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ddd;
    font-family: 'Josefin Sans', sans-serif;
}
.wrapper{
    margin-top: 5%;
}
.wrapper h1{
    font-family: 'Allura',cursive;
    font-size: 52px;
    margin-bottom: 100px;
    text-align:center;
}
.team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.team .team_member{
    background: rgba(255, 255, 255, 0.753);
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 60px;
    line-height: 20px;
    color: #161414;
    position: relative;
}
.team .team_member h3{
    color: rgb(250, 103, 133);
    font-size: 26px;
    margin-top: 50px;
     
}
.team .team_member p.role{
    color: crimson;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;

}
.team .team_member .teamimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 42%;
    transform: translate(-50%);

}
.team .team_member .teamimg img{
    width: 145px;
    height: 145px;
}
 .social-menu{
    margin: 20px 20px;
}
 .social-menu i{
    color: crimson;
    font-size: 30px;
    padding: 20px 20px;
    float: right;
}
 .social-menu i:hover{
    color: #161718;

}